<ng-content></ng-content>
<div class="header d-flex align-items-center justify-content-between p-3 gap-2">
    <!-- Notification Icon -->
    <div class="notification-icon position-relative">
      <i class="bi bi-bell"></i>
      <span class="notification-dot position-absolute translate-middle p-1 bg-success border border-light rounded-circle"></span>
    </div>
  
    <!-- User Profile Section -->
    <div class="user-profile d-flex align-items-center" (click)="toggleDropdown()">
      <img src="assets/images/avatar.png" alt="User Avatar" class="rounded-circle profile-image" />
      <div class="ms-2">
        <div class="user-name fw-bold">Ahmed Mohsen</div>
        <div class="user-role text-muted">Super Admin</div>
      </div>
      <i class="bi bi-chevron-down ms-2"></i>
    </div>

     <!-- Dropdown -->
    @if (isDropdownOpen) {
        <div class="user-dropdown">
          <!-- Dropdown content goes here -->
          <a class="dropdown-item cursor-pointer" href="#">
            <i class="bi bi-person-circle"></i>
            Profile
         </a>
          <a class="dropdown-item cursor-pointer" href="#">
            <i class="bi bi-gear"></i>
            Settings
          </a>
          <a class="dropdown-item cursor-pointer" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            Logout
          </a>
        </div>
    }
  
    <!-- Language Button -->
    <backoffice-lang-switcher  class="language-button" customClasses="bg-custom-lang"></backoffice-lang-switcher >

  </div>
  